.footer {
    background-color: #1c1c1e;
    color: #ffffff;
}

.footer .list-inline-item img {
    width: 24px;
    height: 24px;
}

.footer .international img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer h5 {
    font-size: larger;
    margin-bottom: 15px;
    color: #303848;
}

.footer ul {
    list-style: none;
    padding: 0;
    padding-left: 50px;
    text-align: left;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer p {
    margin-top: 20px;
}

.footer a {
    color: #4e8ffb;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


.list-inline-item {
    display: inline-block;
}

.list-inline img {
    width: 30px;
    height: auto;
}

.main-content {
    display: flex;
}

.services-text {
    display: flex;
}

.footer {

    padding: 15%;
}

ul {
    width: 200px;
}