.footer {
  background-color: #1c1c1e;
  color: #ffffff;
}

.footer .list-inline-item img {
  width: 24px;
  height: 24px;
}

.footer .international img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer h5 {
  font-size: larger;
  margin-bottom: 15px;
  color: #303848;
}

.footer ul {
  list-style: none;
  padding: 0;
  padding-left: 50px;
  text-align: left;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer p {
  margin-top: 20px;
}

.footer a {
  color: #4e8ffb;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.list-inline-item {
  display: inline-block;
}

.list-inline img {
  width: 30px;
  height: auto;
}

.main-content {
  display: flex;
}

.services-text {
  display: flex;
}

.footer {
  padding: 15%;
}

ul {
  width: 200px;
}

/* Search */

.custome-breadcrum {
}

/* .custom-select .ant-select {
  border: none; 
} */

.ant-select-selection-search {
  border: none !important;
  border-radius: 20px !important;

  font-size: 16px;
  font-weight: 400;
  padding-left: 18px;
  padding-right: 18px;
}

.custom-select .ant-select-selector {
  border: none !important;
  width: 100% !important;
  height: 48px !important;
  border-radius: 20px !important;
  overflow: hidden !important;
  padding-left: 25px;
}

.custom-select .ant-select-selector:hover,
.custom-select .ant-select-selector:focus {
  border: 1px solid green !important;
}

.custom-select .ant-select-selector .ant-select-selection-overflow {
  max-width: 90%;
  flex-wrap: nowrap;
}

.custom-select .ant-select-multiple .ant-select-selection-item {
}

.ant-col .ant-form-item {
  margin: 0;
}

.custome-btn {
  border: none !important;
  border-radius: 8px !important;
  color: rgb(239, 234, 234) !important;
  font-size: 17px;
  font-weight: 500;
}

.custome-btn:hover {
  background-color: blue;
}

/*End Search */

/* Button Filter */

* {
  box-sizing: border-box;
}

.cus-btn {
}

.cus-btn:hover {
  background: white;
  border: 1px solid blue;
}

.choose-btn {
  background: blue !important;
  color: white;
}

.choose-btn:hover {
  border: none;
}

/* End Button Filter */

.cus-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.job-card {
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.square-avatar {
  border-radius: 0 !important;
}

/* Company List */

.company-marquee {
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 260px;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.company-items-wrapper {
  display: flex;
  width: max-content;
  animation: moveRightToLeft 20s linear infinite;
}

.company-marquee .company-items {
  width: 20%;
  position: relative;
}

.company-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.company-logo {
  background-color: white;
  border: 1px solid rgb(197, 188, 188);
  border-radius: 50%;
  padding: 20px;
  max-width: 130px;
  object-fit: contain;
  animation: borderWave 5s ease-in-out infinite;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes borderWave {
  0% {
    border: 2px solid rgba(54, 50, 50, 0.3); /* Bắt đầu với border màu xám nhạt */
    box-shadow: 0 0 20px rgba(177, 12, 12, 0); /* Không có sóng */
  }
  50% {
    border: 2px solid rgba(169, 169, 169, 0.6); /* Đậm dần với màu xám */
    box-shadow: 0 0 30px rgba(169, 169, 169, 0.4),
      0 0 30px rgba(31, 1, 1, 0.2); /* Sóng lan tỏa màu xám */
  }
  100% {
    border: 3px solid rgba(58, 47, 47, 0.3); /* Trở lại như ban đầu với màu xám nhạt */
    box-shadow: 0 0 20px rgba(169, 169, 169, 0); /* Sóng tan dần */
  }
}

/* End Company List */
